{% extends 'base.html' %} {% block title %} Home {% endblock %} {% block content
%}

<div class="mx-2 my-2">
  <h1 class="text-3xl font-semibold mb-3 text-center">Words of Wisdom</h1>
  <ul class="grid gap-4 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
    <li class="bg-white rounded-lg shadow-md p-6">
      <span class="text-orange-500 text-4xl">&ldquo;</span>
      <p class="text-gray-800">Believe you can and you're halfway there.</p>
    </li>
    <li class="bg-white rounded-lg shadow-md p-6">
      <span class="text-orange-500 text-4xl">&ldquo;</span>
      <p class="text-gray-800">Stay hungry, stay foolish.</p>
    </li>
    <li class="bg-white rounded-lg shadow-md p-6">
      <span class="text-orange-500 text-4xl">&ldquo;</span>
      <p class="text-gray-800">
        The only way to do great work is to love what you do.
      </p>
    </li>
    <li class="bg-white rounded-lg shadow-md p-6">
      <span class="text-orange-500 text-4xl">&ldquo;</span>
      <p class="text-gray-800">
        Success is not final, failure is not fatal: It is the courage to
        continue that counts.
      </p>
    </li>
    <li class="bg-white rounded-lg shadow-md p-6">
      <span class="text-orange-500 text-4xl">&ldquo;</span>
      <p class="text-gray-800">
        It does not matter how slowly you go as long as you do not stop.
      </p>
    </li>
    <li class="bg-white rounded-lg shadow-md p-6">
      <span class="text-orange-500 text-4xl">&ldquo;</span>
      <p class="text-gray-800">Your limitation—it's only your imagination.</p>
    </li>
    <li class="bg-white rounded-lg shadow-md p-6">
      <span class="text-orange-500 text-4xl">&ldquo;</span>
      <p class="text-gray-800">
        Push yourself, because no one else is going to do it for you.
      </p>
    </li>
    <li class="bg-white rounded-lg shadow-md p-6">
      <span class="text-orange-500 text-4xl">&ldquo;</span>
      <p class="text-gray-800">Great things never come from comfort zones.</p>
    </li>
    <li class="bg-white rounded-lg shadow-md p-6">
      <span class="text-orange-500 text-4xl">&ldquo;</span>
      <p class="text-gray-800">Dream it. Wish it. Do it.</p>
    </li>
    <li class="bg-white rounded-lg shadow-md p-6">
      <span class="text-orange-500 text-4xl">&ldquo;</span>
      <p class="text-gray-800">
        Success doesn’t just find you. You have to go out and get it.
      </p>
    </li>
    <li class="bg-white rounded-lg shadow-md p-6">
      <span class="text-orange-500 text-4xl">&ldquo;</span>
      <p class="text-gray-800">
        The harder you work for something, the greater you’ll feel when you
        achieve it.
      </p>
    </li>
    <li class="bg-white rounded-lg shadow-md p-6">
      <span class="text-orange-500 text-4xl">&ldquo;</span>
      <p class="text-gray-800">Dream bigger. Do bigger.</p>
    </li>
    <li class="bg-white rounded-lg shadow-md p-6">
      <span class="text-orange-500 text-4xl">&ldquo;</span>
      <p class="text-gray-800">
        Don’t stop when you’re tired. Stop when you’re done.
      </p>
    </li>
    <li class="bg-white rounded-lg shadow-md p-6">
      <span class="text-orange-500 text-4xl">&ldquo;</span>
      <p class="text-gray-800">
        Wake up with determination. Go to bed with satisfaction.
      </p>
    </li>
    <li class="bg-white rounded-lg shadow-md p-6">
      <span class="text-orange-500 text-4xl">&ldquo;</span>
      <p class="text-gray-800">
        Do something today that your future self will thank you for.
      </p>
    </li>
    <li class="bg-white rounded-lg shadow-md p-6">
      <span class="text-orange-500 text-4xl">&ldquo;</span>
      <p class="text-gray-800">
        Do something today that your future self will thank you for.
      </p>
    </li>
  </ul>
</div>

{% endblock %}
